body {
    /* min-height: 100vh; */
    /* min-height: -webkit-fill-available; */
  }
  
  html {
    /* height: -webkit-fill-available; */
  }
  
  main {
    /* height: ;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden; */
  }

  nav {
    position: fixed;
    z-index: 10;
    height: 5.5rem;
  }

  label {
    font-size: 14px;
  }

  #sidebar {
    height: 100vh;
    width: 280px;
    margin-top: 5.5rem;
    background-color: #3062c0;
  }

  #content {
    margin-left: 280px;
    width: 100%;
    background-color: lightgrey;
  }

  .bi {
    fill: currentColor;
  }

  #button {
    background-color: #3062c0;
    color: white;
    text-decoration: none;
    margin-left: .5rem;
  }
  
